PORT="{{ memcached_port }}"
USER="{{ memcached_user }}"
MAXCONN="{{ memcached_max_connections }}"
CACHESIZE="{{ memcached_memory }}"
OPTIONS="-l {{ memcached_listen_address }} {{ memcached_extra_options }}"